/* 화면레이아웃 */
.Treatment {
  display: flex;
  flex-direction: row;
  margin: 1%;
  
}
.TreatmentLeft{
  width: 720px;
  /* background-color: brown; */
  /* height: 1080px; */
}

.TreatmentRight{
  margin-left: 5px;
  width: 1150px;
  /* background-color: burlywood; */
  /* height: 730px; */
}

/* TreatmentPatientList */
.TreatmentPatientList {
  display: flex;
  flex-direction: row;
  /* width: 700px; */
  /* background-color: lawngreen; */
  height: 400px;
}

.TreatmentPatientList_title {
  font-weight: bold;
  font-size: larger;
}

.TreatmentPatientList_border {
  padding: 10px 10px 0 10px;
  /* padding: 5% 5px 0 10px; */
  font-size: small;
}

.TreatmentPatientList_search {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  /* margin-left: 2%; */
  margin-bottom: 1%;
}

.row_1 {
  color: #009900;
  margin-left: 20%;
  font-size: small;
}

.row_2 {
  color: #00AAF0;
  margin-left: 3%;
  font-size: small;
}

.TreatmentPatientList_Totaltable{
  overflow-y: auto;
  height: 300px;
  width: 680px; 
}

.TreatmentPatientList_table {
  text-align: center;
  font-size: small;
}

.TreatmentPatientList_table_thead {
  position:sticky;
  top:-1px;
  background-color: lightgray;
}

.TreatmentPatientList_table_tr:hover{
  background-color: #00AAF0;
  color:white;
  cursor: pointer;
}

/* TreatmentHistoryList */
.TreatmentHistoryList {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  width: 700px;
  height: 400px;
}

.TreatmentHistoryList_title {
  margin-bottom: 5px;
  font-weight: bold;
  font-size: larger;
}

.TreatmentHistoryList_border {
  padding: 10px 10px 0 10px;
  font-size: small;
}

.TreatmentHistoryList_Totaltable{
  overflow-y: auto;
  height: 353px;
  text-align: center;
}

/* TreatmentCreateForm*/
.TreatmentCreateForm {
  /* height: 50%; */
  /* margin-left: 20px; */
  /* width: 70%; */
}
.TreatmentCreateForm_title {
  display: flex;
  /* flex-direction: row; */
  font-weight: bold;
  font-size: larger;
  justify-content: space-between;

}

.TreatmentCreateForm_title_1 {

}
.TreatmentCreateForm_title_2 {
    /* margin-bottom: 5px; */
}



.TreatmentCreateForm_border {
  display: flex;
  flex-direction: row;
  height: 780px;
}

.TreatmentCreateForm_1 {
  width: 45%;
  margin: 1%;
}

.TreatmentCreateForm_1_1_title{
  font-size: small;
  text-align: center;
  font-weight: bold;
  background-color: lightgray;
}

.TreatmentCreateForm_1_1_content{
  width: 100%;
  height: 100%;
  resize: none;
  font-size: small;
  font-weight: bold;
  margin-bottom: 5px;
}

.TreatmentCreateForm_2 {
  width: 50%;
  margin: 1%;
}

.TreatmentCreateForm_2_1_border{
 /* height: 100%; */
 height: 290px;
 margin-bottom: 10px;
 
}
.TreatmentCreateForm_2_1_title{
  font-weight: bold;
  font-size: small;
  text-align: center;
  background-color: lightgray;

}
.TreatmentCreateForm_2_1_content {
  display: flex;
  flex-direction: row;
  padding: 10px 10px 0 10px;
  /* width: 100%; */
  /* width: 100%;
  height: 85%;
  margin-top: 3%;
  margin-left: 3%;
   */
}

.TreatmentCreateForm_select {
  font-size: small; 
  /* margin-right: 2%; */
  width: 180px;
  flex-grow: 1;
}
.TreatmentCreateForm_select_1{
  border: 1.8px solid lightgray;
}
.TreatmentCreateForm_checkbox {
  padding: 10px 10px 0 10px;
  /* display: flex;
  flex-direction: column; */
  border: 1.8px solid lightgray;
  font-size: small; 
  width: 65%;
  height: 250px;
}
.TreatmentCreateForm_checkbox_1{
  /* display: flex;
  flex-direction: row; */
  margin-bottom: 5px;
  /* margin-top: 2%;
  margin-left: 4%; */
}


.TreatmentCreateForm_2_2_border{
  height: 425px;
  padding: 30px 10px 0 10px;
  font-size: small;
 }
.TreatmentCreateForm_2_2_title{
  margin-top: 15px;
  font-weight: bold;
  font-size: small;
  text-align: center;
  background-color: lightgray;

}
.TreatmentSearch_1{
  margin-bottom: 7px;
}
.TreatmentSearch_1_1{
  width: 230px;
}
.TreatmentSearch_2{
  text-align: center;
  /* padding: 600px; */
}

.TreatmentSearch_2_2{
  /* height: 0.75rem !important; */
 
  /* background-color: blueviolet; */
  
}


.TreatmentSearch_2_2_tr:hover{
 
  background-color: #00AAF0;
  color:white;
  cursor: pointer;
}

.TreatmentSearch_3{
  /* margin-bottom: 10px; */
  text-align: right;
  margin-right: 10px;
}



.TreatmentPatientList_table_tr:hover{
  background-color: #00AAF0;
  color:white;
  cursor: pointer;
}


.TreatmentHistoryList_table_thead {
  background-color: lightgray;
  position:sticky;
  top:-1px;
}
 .TreatmentHistoryList_table_tr:hover{
  background-color: #00AAF0;
  color:white;
  cursor: pointer;
 }

/* TreatmentHistoryRead */
.TreatmentHistoryRead {

  width: 100%;
  /* padding-top: 1%; */
  padding: 10px 10px 0 10px;
}

.TreatmentHistoryRead_title {
  font-weight: bold;
  font-size: larger;
  /* margin-left: 20px; */
  margin-top: 20px;
  
}
.TreatmentHistoryRead_border {
  /* display: flex;
  flex-direction: row; */
  padding: 10px 10px 0 10px;
  font-size: small;
}
.TreatmentHistoryRead_1_table {
  text-align: center;
  
  /* height: 100%;
  width: 750px; */
}
.TreatmentHistoryRead_2_title {
  /* font-weight: bold; */
  font-size: medium;
  
  margin-top: 20px;
  margin-bottom: 5px;
}
.TreatmentHistoryRead_2_table {

  text-align: center;
  height: 100%;
  width: 750px;
  border-spacing: 0px;
}
.TreatmentHistoryRead_2_table_thead {
  background-color: lightgray;
}
.TreatmentHistoryReadClose{
  margin-top: 20px;
  float: right
}



.TreatmentImgRead{
  /* margin: 20px; */
}
.TreatmentImgRead_1{
  display: flex;
  flex-direction: row;
  padding: 10px 10px  0 10px;

}
.TreatmentImgRead_1_1{
  margin-right: 50px;
  margin-top: 170px;
  font-size: 18px;
  margin-left: 30px;
  text-align: left;
}
.TreatmentImgRead_2{
  margin-bottom: 10px;
  text-align: right;
  margin-right: 10px;
}
