.box {
  margin-top: 7rem;
  display: flex;
  justify-content: center;
}

.Login {
  width: 30rem;
  padding: 1rem;
  margin-right: 10rem;
  padding-top: 9rem;
}

.Board_title {
  font-size: larger;
  font-weight: bold;
  margin-bottom: 0.5rem;
}