/* Register 컴포넌트 배치 CSS */

.Register{
  display: flex;
  flex-direction: column;
}
.Register_1{
  display: flex;
  flex-direction: row;
  height: 40%;
  background-color: blue;
}
.Register_2{
  display: flex;
  flex-direction: row;
  height: 50%;
  background-color: blueviolet;
}


/* RegisterList */

.RegisterList{
  display: flex;
  flex-direction: column;
  background-color: aqua;
}
.RegisterList_header{
  display: flex;
  flex-direction: row;
}
.RegisterList_content{
  display: flex;
  flex-direction: column;
}
.RegisterList_content_1{
  display: flex;
  flex-direction: row;
}
.RegisterList_content_1_1{
  display: flex;
  flex-direction: row;
}
.RegisterList_content_1_2{
  display: flex;
  flex-direction: row;
}

/* RegisterRead */
.RegisterRead{
  display: flex;
  flex-direction: column;
  background-color: brown;
}

/* RegisterPatientList */
.RegisterPatientList{
  display: flex;
  flex-direction: column;
  background-color: cadetblue;
}
.RegisterPatientList_search{
  display: flex;
  flex-direction: row;
}