.Inspection{
  /* padding: 1%; */
  padding: 1%;
  margin-bottom: 0;
  display: flex;
  flex-direction: row;
  /* background-color: #C8E6F0; */
}
.Inspection_1{
  width: 30%;
  /* background-color: white; */
  height: 100%;
}
.Inspection_2{
  width: 70%;
}
.Inspection_3{
  /* width: 15%; */
}
.Inspection_3_1{
  height:48%;
}
.Inspection_3_2{
  height:48%;
}

/* InspectionPatientList */
.InspectionPatientList{
  padding-right: 10px;
  /* height: 100%; */
  /* background-color: lightgreen; */
}
.InspectionPatientList_title{
  font-size: larger;
  font-weight: bold;
}
.InspectionPatientList_1{
  /* border: 1px solid black; */
  padding-top: 10px;
  padding: 10px;
  /* height: 100%; */
  /* background-color: white; */
}
.InspectionPatientList_1_1{
  display: flex;
  flex-direction: row;
}
.InspectionPatientList_1_2_1{
  /* width: 40%; */
}
.InspectionPatientList_1_2_2{
  width: 10%;
}
.InspectionPatientList_1_2_2{
  width:50%;
}
.InspectionPatientList_1_3_1{
  margin-right: 6px;
  color: #009900;
}
.InspectionPatientList_1_3_2{
  margin-right: 6px;
  color: #ff6600;
}
.InspectionPatientList_1_3_3{
  margin-right: 6px;
  color: #0100FF;
}
.InspectionPatientList_2_1{
  text-align: center;
  font-size: small;
  
}
.InspectionPatientList_2_2{
  background-color: lightgray;
  position:sticky;
  top:-1px;
}
.InspectionPatientList_list{
  overflow-y: scroll;
  height: 730px;
}
.InspectionPatientList_list::-webkit-scrollbar {
  width: 10px;
}
.InspectionPatientList_list::-webkit-scrollbar-thumb {
  background-color: grey;
  border-radius: 10px;
  background-clip: padding-box;
  border: 2px solid transparent;
}
.InspectionPatientList_list::-webkit-scrollbar-track {
  background-color: lightgray;
}
.InspectionPatientListItem:hover {
  background-color: #cff1ff;
  /* color:white; */
  cursor: pointer;
}

/* InspectionList */
.InspectionList{
  padding-right: 10px;
}
.InspectionList_title{
  font-size: larger;
  font-weight: bold;
}
.InspectionList_1{
  /* border: 1px solid black; */
  /* padding-top: 10px; */
  padding: 10px;
  /* background-color: white; */
}
.InspectionList_1_1{
  display: flex;
  /* margin-left: 10px; */
  justify-content: flex-end;
}
.InspectionList_1_2{
  /* margin-right: 10px; */
  margin-bottom: 10px;
}
.InspectionList_2_1{
  text-align: center;
  font-size: small;
  height: 100%;
}
.InspectionList_2_2{
  background-color: lightgray;
  position:sticky;
  top:-1px;
}
.InspectionList_list{
  overflow-y: scroll;
  height: 730px;
}
.InspectionList_list::-webkit-scrollbar {
  width: 10px;
}
.InspectionList_list::-webkit-scrollbar-thumb {
  background-color: grey;
  border-radius: 10px;
  background-clip: padding-box;
  border: 2px solid transparent;
}
.InspectionList_list::-webkit-scrollbar-track {
  background-color: lightgray;
}
/* InspectionListItem */
.InspectionListItem_1{
  display: flex;
  justify-content: center;
}
.InspectionListItem:hover {
  background-color: #cff1ff;
  /* color:white; */
  cursor: pointer;
}

/* InspectionCreateForm */
.InspectionCreateForm{
  height: 100%;
}
.InspectionCreateForm_title{
  font-size: larger;
  font-weight: bold;
}
.InspectionCreateForm_1{
  display: flex;
  flex-direction: column;
  /* border: 1px solid black; */
  padding: 10px;
  justify-content: center;
  height: 90%;
}
.InspectionCreateForm_1_1{
  /* display: flex;
  flex-direction: row; */
  justify-content: center;
  margin-bottom: 5px;
  font-size: small;
}
.InspectionCreateForm_1_2{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

/* InspectionImgCreateForm */
.InspectionImgCreateForm{
  height: 100%;
}
.InspectionImgCreateForm_title{
  font-size: large;
  font-weight: bold;
}
.InspectionImgCreateForm_1{
  display: flex;
  flex-direction: column;
  /* border: 1px solid black; */
  padding: 10px;
  justify-content: center;
  height: 90%;
}
.InspectionImgCreateForm_1_1{
  /* display: flex;
  flex-direction: row; */
  justify-content: center;
  margin-bottom: 5px;
  font-size: small;
}
.InspectionImgCreateForm_1_1_1{
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
  /* margin-right: 50px; */
  margin-left: -15px;
  font-size: small;
}
.InspectionImgCreateForm_1_2{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

/* InspectionImgForm */
.InspectionImgForm{
  height: 100%;
}
.InspectionImgForm_title{
  font-size: large;
  font-weight: bold;
}
.InspectionImgForm_1{
  /* border: 1px solid black; */
  display: flex;
  flex-direction: row;
  padding: 10px;
  height: 100%;
}
.InspectionImgForm_1_1{
  /* display: flex;
  flex-direction: row; */
  justify-content: center;
  align-items: center;
  margin-bottom: 5px;
  font-size: small;
  width: 30%;
}
.InspectionImgForm_1_2{
  width: 70%;
}
.InspectionImgForm_2{
  display: flex;
  justify-content: flex-end;
}

/* InspectionBarcodePop */
.InspectionBarcodePop{
  height: 100%;
}
.InspectionBarcodePop_title{
  display: flex;
  justify-content: center;
  font-size: large;
  font-weight: bold;
}
.InspectionBarcodePop_1{
  /* border: 1px solid black; */
  padding: 10px;
  height: 90%;
}
.InspectionBarcodePop_1_1{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* border: 1px solid black; */
  height: 40%;
  margin-bottom: 10px;
}
.InspectionBarcodePop_1_2{
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid black; */
  margin-bottom: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.InspectionBarcodePop_1_3{
  display: flex;
  justify-content: center;
}
