.Inspection{
  height: 100%;
  /* padding: 1%; */
  margin: 1%;
  margin-bottom: 0;
  display: flex;
  flex-direction: row;
}
.Inspection_1{
  height: 100%;
  width: 30%;
}
.Inspection_2{
  height: 100%;
  width: 55%;
}
.Inspection_3{
  /* height: 100%; */
  width: 15%;
}
.Inspection_3_1{
  height: 50%;
}
.Inspection_3_2{
  height: 50%;
}

/* InspectionPatientList */
.InspectionPatientList{
  padding-right: 10px;
}
.InspectionPatientList_title{
  font-size: larger;
  font-weight: bold;
}
.InspectionPatientList_1{
  /* border: 1px solid black; */
  padding-top: 10px;
  padding: 10px;
}
.InspectionPatientList_1_1{
  display: flex;
  flex-direction: row;
}
.InspectionPatientList_1_2{
  width: 10px;
}
.InspectionPatientList_1_3_1{
  margin-right: 6px;
  color: #009900;
}
.InspectionPatientList_1_3_2{
  margin-right: 6px;
  color: #ff6600;
}
.InspectionPatientList_1_3_3{
  margin-right: 6px;
  color: #00AAF0;
}
.InspectionPatientList_2_1{
  text-align: center;
  font-size: small;
}
.InspectionPatientList_2_2{
  background-color: lightgray;
}

/* InspectionList */
.InspectionList{
  padding-right: 10px;
}
.InspectionList_title{
  font-size: larger;
  font-weight: bold;
}
.InspectionList_1{
  /* border: 1px solid black; */
  /* padding-top: 10px; */
  padding: 10px;
}
.InspectionList_1_1{
  display: flex;
  /* margin-left: 10px; */
  justify-content: flex-end;
}
.InspectionList_1_2{
  /* margin-right: 10px; */
  margin-bottom: 10px;
}
.InspectionList_2_1{
  text-align: center;
  font-size: small;
}
.InspectionList_2_2{
  background-color: lightgray;
}

/* InspectionImgCreateForm */
.InspectionImgCreateForm{
  height: 100%;
}
.InspectionImgCreateForm_title{
  font-size: larger;
  font-weight: bold;
}
.InspectionImgCreateForm_1{
  display: flex;
  flex-direction: column;
  /* border: 1px solid black; */
  padding: 10px;
  justify-content: center;
  height: 90%;
}
.InspectionImgCreateForm_1_1{
  /* display: flex;
  flex-direction: row; */
  justify-content: center;
  margin-bottom: 5px;
  font-size: small;
}
.InspectionImgCreateForm_1_1_1{
  padding-left: 10px;
  margin-bottom: 10px;
  font-size: small;
}
.InspectionImgCreateForm_1_2{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding-right: 10px;
}

/* InspectionImgForm */
.InspectionImgForm{
  height: 100%;
}
.InspectionImgForm_title{
  font-size: larger;
  font-weight: bold;
}
.InspectionImgForm_1{
  /* border: 1px solid black; */
  padding: 10px;
  height: 100%;
}

/* InspectionBarcodePop */
.InspectionBarcodePop_1{
  border: 1px solid black;
  padding: 10px;
  height: 100%;
}
.InspectionBarcodePop_1_1{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* border: 1px solid black; */
  height: 40%;
  margin-bottom: 10px;
}
.InspectionBarcodePop_1_2{
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid black; */
  margin-bottom: 10px;
}
.InspectionBarcodePop_1_3{
  display: flex;
  justify-content: center;
}