.User {
  padding: 1%;
  padding-bottom: 0;
}

/* 좌측 컴포넌트 */
.User_left {
  width: 70%;
  margin-right: 1%;
}

/* 우측 컴포넌트 */
.User_right {
  width: 29%;
  padding: 0;
}

/* title */
.User_title {
  font-size: larger;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

/* UserList */
.UserList {
  height: 100%;
}

.UserList_content {
  padding: 10px;
  height: 96.8%;
  font-size: small;
}

.UserList_content1 {
  display: flex;
  justify-content: space-between;  
  align-items: center;
}

.UserList_content1_1 {
  display: flex;
  width: 25%;
}

.UserList_content1_2 {
  display: flex;
  cursor: pointer;
}

.UserList_content1_2 > div:hover {
  color: #00AAF0;
}

.UserList_Table {  
  background-color: lightgray;
  height: 2.5rem;
  font-weight: bold;
  display: flex;
  align-items: center;
}

.UserList_tr {
  display: flex;
  border-bottom: lightgray solid 0.5px;
  align-items: center;
}

.UserList_tr:hover {
  background-color: #cff1ff;
  cursor: pointer;
}

.UserList_container {
  /* display: flex; */
  flex: 1;
  /* flex-direction: row;
  background-color: aquamarine; */
}

.content {
  display: flex;
  /* flex: 1; */
  flex-direction: row;
  background-color: aquamarine;
}

/* UserCreateForm & UserUpdateForm */
.User_item {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
  font-size: small;
};